Repository kojiyamauchi/express-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, yarn prisma:validate, yarn prisma:format, yarn workspace client prettier --write, yarn workspace client eslint --fix --max-warnings 0, yarn workspace client stylelint --fix, cspell --dot --no-must-find-files

update ci.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci-local-test.yml
  .github/workflows/ci.yml
Due: cspell --dot --no-must-find-files

update ci.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci-local-test.yml
  .github/workflows/ci.yml
  cspell.yml
Due: cspell --dot --no-must-find-files

update unit test.
  apps/resource/tests/models/sql.test.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

modify dir.
  apps/resource/sql/migrations/migration.sql
  apps/resource/sql/seeds/initialize_date.sql
  apps/resource/sql/seeds/insert_user.sql
  apps/resource/sql/seeds/user.csv
Due: cspell --dot --no-must-find-files

add create user to model.
  apps/resource/models/orm.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add create user to controller.
  apps/resource/controllers/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add endpoint to router.
  apps/resource/routes/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update app.
  apps/resource/app.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add unit test.
  apps/resource/tests/controllers/index.test.ts
  apps/resource/tests/models/orm.test.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add update & delete to model.
  apps/resource/models/orm.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add update & delete to controller.
  apps/resource/controllers/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add order to model.
  apps/resource/models/orm.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add order to controller.
  apps/resource/controllers/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add feed schema.
  apps/resource/prisma/schema.prisma
Due: cspell --dot --no-must-find-files

prisma migrations.
  apps/resource/prisma/migrations/20250827083305_/migration.sql
  apps/resource/prisma/migrations/20250827092056_/migration.sql
Due: cspell --dot --no-must-find-files

seeding feed.
  apps/resource/prisma/seeds/data/feeds.ts
  apps/resource/prisma/seeds/data/index.ts
  apps/resource/prisma/seeds/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add feed to model.
  apps/resource/models/orm.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add feed to controller.
  apps/resource/controllers/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

modify express server port.
  CLAUDE.md
  Dockerfile
  README.md
  apps/bs-config.js
  apps/package.json
  apps/resource/serve.ts
  compose.yml
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update vscode setting.json
  .vscode/settings.json
Due: cspell --dot --no-must-find-files

update seeding user.
  apps/resource/prisma/seeds/data/users.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add ellipsis.
  client/resource/styles/components/pages/user-list/_list.scss
Due: yarn workspace client stylelint --fix, cspell --dot --no-must-find-files

Path conditions:
  yarn workspace apps prettier --write: (any of: apps/**/*.{ts,mjs}) or (any of: apps/**/*.js)
  yarn workspace apps eslint --fix --max-warnings 0: any of: apps/**/*.{ts,mjs}
  yarn prisma:validate: any of: apps/prisma/schema.prisma
  yarn prisma:format: any of: apps/prisma/schema.prisma
  yarn workspace client prettier --write: (any of: client/**/*.{ts,mjs}) or (any of: client/**/*.js)
  yarn workspace client eslint --fix --max-warnings 0: any of: client/**/*.{ts,mjs}
  yarn workspace client stylelint --fix: any of: client/resource/**/*.scss
  cspell --dot --no-must-find-files: any of: ./**/*
